
.navbar{
  background-color:#fff ;
  height: 80px;
  margin: 20px;
  border-radius: 16px;
  padding: 0.5rem;
}
.navbar-brand{
  font-weight: 500;
  color:#D27D2D;
  font-size: 24px;
  transition: 0.3s color;
}

.login-button{
  background-color: #D27D2D;
  color: #fff;
  font-size: 15px;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.3s background-color;
}
.login-button:hover{
  background-color: #D27D2D;
}

.navbar-toggler{
  border: none;
  font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
  box-shadow: none;
  outline: none;
}

.nav-link{
  color: #666777;
  font-weight: 500;
  position: relative;
}
.nav-link:hover, .nav-link:active{
  color: #000;
  font-weight: 500;
}

@media(min-width:991px) {
  .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #D27D2D;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .nav-link:hover::before, .nav-link:active::before {
   width: 100%;
   visibility: visible;
  }
}

.hero-section{
  background: url(img/top-view-autumn-leaves-with-coffee.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
 
}
.hero-section::before{
  background-color: rgba(0, 0, 0, 6);
  content: "";
  position: absolute;
}
.hero-section .container{
  height: 100vh;
  z-index: 1;
  position: relative;
}

.hero-section h1{
  font-size: 1.5rem;
  color: #000;
}
.hero-section h2{
  font-size: 1.3rem;
  color: #666777;
}



